:root {
	// paddings
	--main-padding: 30px;

	@media (width <=425px) {
		// paddings
		--main-padding: 20px;
	}
}

:root {
	// background
	--main-bg: #f8f8f7;
	--main-block-bg: #ffffff;

	// text
	--main-text-color: #1d1d1d;
	--secondary-text-color: #8c8c8c;

	// home page
	--homepage-decoration-bg: #fbe0dc;

	// sidebar
	--first-link-bg: #b4b7ff;
	--second-link-bg: #97eab9;
	--third-link-bg: #ffd280;

	// interactable components
	--default-state-bg: #ffffff;
	--hover-state-bg: #fbe0dc;
	--active-state-bg: #ff868e;
	--default-state-text-color: #ff868e;
	--hover-state-text-color: #ff868e;
	--active-state-text-color: #ffffff;

	// popup
	--popup-bg: #1d1d1d99;

	// voting
	--voting-bar-bg: #ffffff;
	--voting-button-1-default-state-bg: #97eab9;
	--voting-button-2-default-state-bg: #ff868e;
	--voting-button-3-default-state-bg: #ffd280;
	--voting-button-1-hover-state-bg: #97eaba4d;
	--voting-button-2-hover-state-bg: #ff868e4d;
	--voting-button-3-hover-state-bg: #ffd2804d;
	--voting-button-default-state-text: #ffffff;
	--voting-button-1-hover-state-text: #97eab9;
	--voting-button-2-hover-state-text: #ff868e;
	--voting-button-3-hover-state-text: #ffd280;

	// log
	--log-bg: #f8f8f7;
	--log-time-bg: #ffffff;
	--like-icon-color: #97eab9;
	--fav-icon-color: #ff868e;
	--dislike-icon-color: #ffd280;

	// load-screen
	--load-screen-bg: #f8f8f7;

	// scroll
	--scroll-track-bg: #f8f8f7;
	--scroll-thumb-bg: #ff868e;
	--scroll-thumb-bg-hover: #ff868ebb;
}

:root[data-theme='dark'] {
	// background
	--main-bg: #1d1d1d;
	--main-block-bg: #ffffff0d;

	// text
	--main-text-color: #ffffff;
	--secondary-text-color: #8c8c8c;

	// home page
	--homepage-decoration-bg: #ffffff0d;

	// sidebar
	--first-link-bg: #b4b7ff;
	--second-link-bg: #97eab9;
	--third-link-bg: #ffd280;

	// interactable components
	--default-state-bg: #ffffff0d;
	--hover-state-bg: #ff868e33;
	--active-state-bg: #ff868e;
	--default-state-text-color: #ff868e;
	--hover-state-text-color: #ff868e;
	--active-state-text-color: #ffffff;

	// popup
	--popup-bg: #1d1d1d99;

	// voting
	--voting-bar-bg: #282828;
	--voting-button-1-default-state-bg: #97eab9;
	--voting-button-2-default-state-bg: #ff868e;
	--voting-button-3-default-state-bg: #ffd280;
	--voting-button-1-hover-state-bg: #97eaba4d;
	--voting-button-2-hover-state-bg: #ff868e4d;
	--voting-button-3-hover-state-bg: #ffd2804d;
	--voting-button-default-state-text: #ffffff;
	--voting-button-1-hover-state-text: #97eab9;
	--voting-button-2-hover-state-text: #ff868e;
	--voting-button-3-hover-state-text: #ffd280;

	// log
	--log-bg: #f8f8f70d;
	--log-time-bg: #1d1d1d;
	--like-icon-color: #97eab9;
	--fav-icon-color: #ff868e;
	--dislike-icon-color: #ffd280;

	// load-screen
	--load-screen-bg: #1d1d1d;
	--load-circle-color: #ff868e;
}
