.layout {
	display: flex;
	overflow: visible;
	box-sizing: border-box;
	padding: var(--main-padding);
	height: 100vh;
	width: 100vw;
	background-color: var(--main-bg);

	@media (width > 425px) {
		padding: 30px;
	}
}

.layout-aside {
	flex-grow: 1;
}

.layout-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;

	@media (width >=1440px) {
		width: 680px;
	}
}

.layout-main {
	flex-grow: 1;
	overflow: hidden;
}
