.select-list {
	position: absolute;
	top: calc(100% + 10px);
	z-index: 5;
	display: flex;
	flex-direction: column;
	gap: 2px;
	opacity: 0;
	overflow: auto;
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	max-height: 200px;
	border-radius: 10px;
	box-shadow: 0 0 5px 0 #00000022;
	background-color: var(--select-bg);
	color: var(--select-text);
	transition: all 0.2s linear;
}

.select-list.active {
	opacity: 1;
}

.select-list-item {
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s linear;
}

.select-list-item:hover {
	background-color: var(--select-list-item-hover);
}
