@font-face {
  font-family: Jost;
  src: url('./jost/Jost-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Jost;
  src: url('./jost/Jost-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
