.popup-aside {
	position: relative;
}

.popup-aside .theme-toggle {
	position: absolute;
	top: 20px;
	left: 20px;
}

.popup-aside .aside-nav {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: 0 auto;
	padding-top: 100px;

	@media (width > 425px) {
		flex-direction: row;
		gap: 16px;
		padding-top: 110px;
		width: 445px;
	}
}

.popup-aside .aside-nav {
	.nav-card:nth-child(1) {
		.nav-card-img-wrapper {
			background-color: var(--first-link-bg);
		}
	}

	.nav-card:nth-child(2) {
		.nav-card-img-wrapper {
			background-color: var(--second-link-bg);
		}
	}

	.nav-card:nth-child(3) {
		.nav-card-img-wrapper {
			background-color: var(--third-link-bg);
		}
	}
}
