@use './styles/index.scss';

body {
	font-family: Jost;
	font-size: 16px;
	color: var(--main-text-color);

	a {
		color: var(--main-text-color);
		text-decoration: none;
	}
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	border-radius: 5px;
	background: var(--scroll-track-bg);
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: var(--scroll-thumb-bg);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--scroll-thumb-bg-hover);
}
